@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

.encode-sans{
  font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root{
    --font-pattern: 'Encode Sans', sans-serif; 
}