*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: linear-gradient(180deg, rgba(217, 240, 255, 1) 0%, rgba(109, 178, 209, 1) 59%, rgba(54, 148, 185, 1) 80%, rgba(0, 117, 162, 1) 100%);
}